@font-face {
  font-family: Yekan Bakh NoEn;
  font-style: normal;
  font-weight: 100;
  src: url('static/fonts/yekan-bakh/woff/YekanBakhNoEn-thin.woff')
      format('woff'),
    url('static/fonts/yekan-bakh/woff2/YekanBakhNoEn-thin.woff2')
      format('woff2');
}

@font-face {
  font-family: Yekan Bakh NoEn;
  font-style: normal;
  font-weight: 300;
  src: url('static/fonts/yekan-bakh/woff/YekanBakhNoEn-Light.woff')
      format('woff'),
    url('static/fonts/yekan-bakh/woff2/YekanBakhNoEn-Light.woff2')
      format('woff2');
}

@font-face {
  font-family: Yekan Bakh NoEn;
  font-style: normal;
  font-weight: normal;
  src: url('static/fonts/yekan-bakh/woff/YekanBakhNoEn-Regular.woff')
      format('woff'),
    url('static/fonts/yekan-bakh/woff2/YekanBakhNoEn-Regular.woff2')
      format('woff2');
}

@font-face {
  font-family: Yekan Bakh NoEn;
  font-style: normal;
  font-weight: 600;
  src: url('static/fonts/yekan-bakh/woff/YekanBakhNoEn-SemiBold.woff')
      format('woff'),
    url('static/fonts/yekan-bakh/woff2/YekanBakhNoEn-SemiBold.woff2')
      format('woff2');
}

@font-face {
  font-family: Yekan Bakh NoEn;
  font-style: normal;
  font-weight: bold;
  src: url('static/fonts/yekan-bakh/woff/YekanBakhNoEn-Bold.woff')
      format('woff'),
    url('static/fonts/yekan-bakh/woff2/YekanBakhNoEn-Bold.woff2')
      format('woff2');
}

@font-face {
  font-family: Yekan Bakh NoEn;
  font-style: normal;
  font-weight: 800;
  src: url('static/fonts/yekan-bakh/woff/YekanBakhNoEn-ExtraBold.woff')
      format('woff'),
    url('static/fonts/yekan-bakh/woff2/YekanBakhNoEn-ExtraBold.woff2')
      format('woff2');
}

@font-face {
  font-family: Yekan Bakh NoEn;
  font-style: normal;
  font-weight: 900;
  src: url('static/fonts/yekan-bakh/woff/YekanBakhNoEn-Black.woff')
      format('woff'),
    url('static/fonts/yekan-bakh/woff2/YekanBakhNoEn-Black.woff2')
      format('woff2');
}

@font-face {
  font-family: Yekan Bakh NoEn;
  font-style: normal;
  font-weight: 950;
  src: url('static/fonts/yekan-bakh/woff/YekanBakhNoEn-ExtraBlack.woff')
      format('woff'),
    url('static/fonts/yekan-bakh/woff2/YekanBakhNoEn-ExtraBlack.woff2')
      format('woff2');
}
